.main {
    border: 2px solid black;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

table {
    margin: 0 auto;
    border-spacing: 10px;
}
th {
    font-size: 25px;
    border-spacing: 10px;
}